<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/ORE_SVG_Toolbar.svg" width="350" height="125" class="logo_ORE" [routerLink]="['/home']"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Forgot Password Form -->
  <div (change)="onInputChangedForFP()">
    <h1 style="text-align: center;">Forgot Password</h1>

    <!-- Email -->
    <ion-input label="Email" type="email" [(ngModel)]="email" label-placement="floating" fill="outline" placeholder="Enter your Email" class="fpInput"></ion-input>
    
    <!-- New Password -->
    <ion-input label="New Password" type="password" [(ngModel)]="newPassword" label-placement="floating" fill="outline" 
    placeholder="Enter your new password" class="fpInput" [counter]="true" maxlength="20"></ion-input>
    
    <!-- Confirm Password -->
    <ion-input label="Confirm Password" type="password" [(ngModel)]="confirmPassword" label-placement="floating" fill="outline" 
    placeholder="Enter your confirm password" class="fpInput" [counter]="true" maxlength="20"></ion-input>
  </div>

  <div class="fpBackgroundStyle">

    <!-- Sign Up Button (Forgot Password) -->
    <ion-button [disabled]="disabledSignUpBtn" (click)="forgotPasswordSubmit()" shape="round" id="loginBtn">
      <ion-icon name="log-in-outline" style="margin-left: -100px; color:black;"></ion-icon>
      Sign Up
    </ion-button><br><br><br>

    <!-- Forgot Email Link => navigate to '/forgot-email' page -->
    <div class="StyleLinks">
      <a [routerLink]="['/forgot-email']" id="forgotEmailLink">Forgot Email</a><br><br>
    </div>

    <!-- Register Button -->
    <ion-button [routerLink]="['/signup']" id="registerBtn" color="light" shape="round">
      <ion-icon name="person-outline" slot="start" style="margin-left: -80px; color:black;" class="buttonWithIcon"></ion-icon>
      Register
    </ion-button>
  </div>

</ion-content>
