/* Buttons */
#buttons{
  text-align: center;
  background: linear-gradient(
    180deg,
    rgb(0, 255, 0) 0%,
    rgba(0, 255, 0, 0.5) 33%,
    rgba(0, 0, 255, 0.5) 67%,
    rgba(0, 0, 255) 100%
  );
  width: 338px;
  height: 530px;
  border-radius: 35px;
  box-shadow: 20px -5px 15px;
  margin-left: 46px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Button Styles for Sign Up*/
#signUpBtn{
  --background: #32FC47;
  --background-activated: white;
  --color-activated: #32FC47;
  font-size: 30px;
  width: 267px;
  height: 88px;
  margin-top: 50px;
}

/* Button Styles for Log In */
#logInBtn{
  --background: #7777F3;
  width:267px;
  height:88px;
  font-size: 30px;
  margin-top: 150px;
  --background-activated: white;
  --color-activated: #7777F3;
}