<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/ORE_SVG_Toolbar.svg" width="350" height="125" class="logo_ORE"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Introduction ORE Software Tech Gadget-->
  <div style="padding: 15px;">
    <h1>Welcome to ORE (Order It, Repair It, Enjoy It) Software Tech Gadget</h1>
    <p>ORE Software Tech Gadget is a platform that provides information about the latest software and technology gadgets.
    It is designed to help users stay up-to-date with the latest trends and developments in the tech world. You would allow to 
    order the latest gadgets and software from the comfort of your home. Or to repair your gadgets and software.
    <br>ORE Software Tech Gadget is a one-stop shop for all your tech needs. Whether you're looking for the latest software,
    gadgets, or just want to stay informed about the latest trends, ORE Software Tech Gadget has you covered.
    <br>ORE Software Tech Gadget is designed to be user-friendly and easy to navigate. The platform is accessible from any device,
    including smartphones, tablets, watches, and computers. This means that users can access the platform from anywhere, at any time.
    </p>
    <p>Before you begin, would you like to sign up, log in or contact for emergency</p>
  </div>
  <div id="buttons">
    <!-- Navigate to Sign Up -->
    <ion-button id="signUpBtn" shape="round" [routerLink]="['/signup']">
      <ion-icon slot="start" name="person-outline" style="margin-left: -50px;"></ion-icon> 
      Sign Up
    </ion-button>

    <!-- Navigate to Log In -->
    <ion-button id="logInBtn" shape="round" [routerLink]="['/login']">
      <ion-icon slot="start" name="log-in-outline" style="margin-left: -50px;"></ion-icon> 
      Log In
    </ion-button>
  </div>

  <!-- Contact -->
  <div id="bottomStyle">
    <h2>Contact</h2>
    <p>If you have any questions, email 
    me to:</p>
    <p>Email: G00419414&#64;atu.ie</p>
    <p style="text-align: center;">OR</p>
    <p style="text-align: center; text-decoration: underline; letter-spacing: 5px;"><b>Login On Social Media</b></p>

    <!-- Icons of Social Media-->
    <ion-icon name="logo-instagram" (click)="onInstagram()" style="color:rgba(255, 0, 0, 0.5);"></ion-icon>
    <ion-icon name="logo-facebook" (click)="onFacebook()" style="color:blue;"></ion-icon>
    <ion-icon name="logo-github" (click)="onGitHub()" style="color:white"></ion-icon>
  </div>
  
</ion-content>